.navbar {
    text-align: center;
    border-style: solid;
    border-color: darkcyan;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px, 10px, 20px, 10px;
    border-style: solid;
    border-color: cadetblue;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-style: solid;
    border-color: cadetblue;
    max-width: 40%;
}

ul{
text-align: center;
}

.forecast {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}